@page "/fetchdata"

@using MatTableDemo.Models

<h1>Contacts</h1>

<p>This component demonstrates fetching data from a service.</p>
<MatTable
  Items="@_contacts"
  ApiUrl="https://localhost:5001/api/contact"
  FilterByColumnName="LastName"
  Descending="true"
  Striped="true"
  AllowSelection="true"
  DebounceMilliseconds="150"
  class="mat-elevation-z5">
  <MatTableHeader>
    <th>First Name</th>
    <th>Last Name</th>
  </MatTableHeader>
  <MatTableRow>
    <td>@context.FirstName</td>
    <td>@context.LastName</td>
  </MatTableRow>
</MatTable>

@code {
  private Contact[] _contacts;
}
